
img {
    display: block;
    max-width: 100%;
}

.logo{
    width: 100px;
    height: 60px;
}

.my-btn {
    color: #013220 !important;
    background-color: #ffd400 !important;
}

.my-btn-inverse {
    background-color: #013220 !important;
    color: gold !important;
}

.outline {
    border: 1px solid #013220;
    color: #013220;
}

.modal-content.success {
    background-color: #d4edda  !important;
    color: #155724 !important;
}

.modal-content.error {
    background-color: #f8d7da !important;
    color: #721c24 !important;
}

.modal-header.success {
    border-bottom: 1px solid #c3e6cb !important;
}

.modal-header.error {
    border-bottom: 1px solid #f5c6cb !important;
}